body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background-image: url("./components/heroBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This ensures the background stays fixed during scroll */
}
